body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url(../Imagenes/shrubs-4813685_1280.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center; 
    margin: 0;
}

.container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    max-width: 400px;
    background-color: rgba(255, 255, 255, 0.8);  
    padding: 20px;
    border-radius: 8px;
}


input {
    display: block;
    margin: 10px auto;
    padding: 12px;
    width: 80%; 
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

/
button {
    background-color: black;
    color: white;
    padding: 15px; 
    border: none;
    cursor: pointer;
    margin: 20px auto; 
    width: 90%;  
    border-radius: 5px;
    font-size: 18px;  
    transition: background-color 0.3s, transform 0.3s;
}


button:hover {
    background-color: #444; 
    transform: scale(1.05); 
}


h2 {
    color: white;
    font-size: 2rem;
    margin-bottom: 20px;
}
