<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Cesta de Compra</title>
<link rel="stylesheet" type="text/css"
	th:href="@{/CSS/estilosCestaCompra.css}">
</head>
<body>
	<header>
		<h1>Cesta de Compra</h1>
	</header>

	<div class="container">


		<div th:if="${success}" class="alert alert-success">
			<p th:text="${success}"></p>
		</div>
		<div th:if="${error}" class="alert alert-danger">
			<p th:text="${error}"></p>
		</div>


		<div
			th:if="${productosEnCesta == null or #lists.isEmpty(productosEnCesta)}">
			<p>Tu cesta está vacía.</p>
		</div>


		<div
			th:unless="${productosEnCesta == null or #lists.isEmpty(productosEnCesta)}">
			<table>
				<thead>
					<tr>
						<th>Planta</th>
						<th>Cantidad</th>
						<th>Acción</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="pedido : ${productosEnCesta}">
						<td th:text="${pedido.planta.nombrecomun}"></td>
						<td th:text="${pedido.cantidad}"></td>
						<td><a
							th:href="@{/retirarDeCesta/{pedidoId}(idPedido=${pedido.id})}"
							class="boton">Retirar</a></td>
					</tr>
				</tbody>
			</table>

			<div class="boton-container">
				<a href="/Pagar" class="boton">Confirmar Pedido</a>
			</div>
		</div>
	</div>
</body>
</html>
