<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="./CSS/RealizarPedido.css">
    <title>Realizar Pedido</title>
</head>
<body>

    <h1>Realizar Pedido</h1>

    
  
    <table>
        <thead>
            <tr>
                <th>Planta</th>
                <th>Cantidad Disponible</th>
                <th>Cantidad a Comprar</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="planta : ${plantas}">
                <td th:text="${planta.nombrecomun}"></td>
                <td th:text="${planta.cantidadDisponible}"></td>
                <td>
                    <form th:action="@{/añadirACesta}" method="POST">
                        <input type="hidden" name="codigo" th:value="${planta.codigo}"/>
                        <input type="number" name="cantidad" min="0" th:max="${planta.cantidadDisponible}" step="1" value="0"/>
                        <button type="submit">Añadir a la Cesta</button>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
	
    <div>
        <a href="/MenuInvitado">Volver al menú</a>
    </div>
    
    <div>
    	 <a href="/CestaCompra">Ir a la Cesta</a>
    </div>
   

</body>
</html>
