<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Realizar Pedido</title>
<link rel="stylesheet" th:href="@{/CSS/estilosRealizarPedido.css}">
</head>
<body>
	<header>
		<h1>Realizar Pedido</h1>
	</header>

	<div class="container">
		<form th:action="@{/CamposPedido}" th:object="${pedido}" method="POST">
			<table>
				<thead>
					<tr>
						<th>Planta</th>
						<th>Ejemplar</th>
						<th>Cantidad</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="planta : ${plantas}">

						<td th:text="${planta.nombrecomun}"></td>


						<td th:text="${planta.ejemplar.size()}"></td>


						<td>
							<div
								th:if="${planta.ejemplar != null and !planta.ejemplar.isEmpty()}">
								<label for="cantidades-${planta.ejemplar[0].codigo}">Cantidad:</label>
								<select th:field="*{cantidades[planta.ejemplar[0].codigo]}">
									<option th:each="i : ${#numbers.sequence(1, 10)}"
										th:value="${i}" th:text="${i}"></option>
								</select>
							</div>
							<div
								th:unless="${planta.ejemplar != null and !planta.ejemplar.isEmpty()}">
								No hay ejemplares disponibles</div>
						</td>
					</tr>
				</tbody>
			</table>

			<div>
				<button type="submit">Realizar Pedido</button>
			</div>
		</form>

		<div>
			<a href="/MenuInvitado">Menú Invitado</a>
		</div>
	</div>
</body>
</html>
