<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Realizar Pedido</title>
<link rel="stylesheet" th:href="@{/CSS/estilosRealizarPedido.css}">
</head>
<body>
	<header>
		<h1>Realizar Pedido</h1>
	</header>

	<div class="container">

		<div th:if="${mensajeExito}" class="alert success">
			<p th:text="${mensajeExito}"></p>
		</div>
		<div th:if="${mensajeError}" class="alert error">
			<p th:text="${mensajeError}"></p>
		</div>

		<form th:action="@{/CamposPedido}" th:object="${pedido}" method="POST">
			<table>
				<thead>
					<tr>
						<th>Planta</th>
						<th>Ejemplar</th>
						<th>Cantidad Disponible</th>
						<th>Cantidad a Pedir</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="planta : ${plantas}">

						<td th:text="${planta.nombrecomun}"></td>

						<td>
							<div th:each="ejemplar : ${planta.ejemplares}">

								<label th:for="'cantidades-' + ${ejemplar.id}">Ejemplar:
									${ejemplar.nombre} - Código: ${ejemplar.id}</label>


								<p
									th:text="'Cantidad Disponible: ' + ${ejemplar.cantidadDisponible}"></p>


								<select th:field="*{cantidades[${ejemplar.id}]}">
									<option
										th:each="i : ${#numbers.sequence(1, ejemplar.cantidadDisponible)}"
										th:value="${i}" th:text="${i}"></option>
								</select>
							</div>
						</td>


						<td th:text="${planta.ejemplares.size()}"></td>
					</tr>
				</tbody>
			</table>

			<div>
				<button type="submit">Realizar Pedido</button>
			</div>
		</form>

		<div>
			<a href="/MenuInvitado">Menú Invitado</a>
		</div>
	</div>

</body>
</html>
