<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <link rel="stylesheet" th:href="@{/CSS/estilosCreacionPlantas.css}" />
    <title>Registrar Cliente</title>
  </head>
  <body>
    <header>
      <h1>Registro de Cliente</h1>
    </header>

    <div class="container">
      <form class="formulario" th:action="@{/CamposCliente}" th:object="${cliente}" method="post">
        <label for="nombre">Nombre</label>
        <input type="text" id="" name="nombre" required th:field="*{nombre}"  />

        <label for="fechanac">Fecha de Nacimiento:</label>

        <input type="date" id="fechanac" name="fechanac" required th:field="*{fechanac}"  />
        <label for="nif">NIF:</label>
        <input type="text" id="nif" name="nif" required th:field="*{nif}"  />

        <label for="direccion">Direccion:</label>
        <input type="text" id="direccion" name="direccion" required th:field="*{direccion}"  />
        
        <label for="email">Email:</label>
        <input type="text" id="email" name="email" required  th:field="*{email}" />

        
        <label for="telefono">Telefono:</label>
        <input type="text" id="telefono" name="telefono" required th:field="*{telefono}" />
        
         <label for="usuario">Usuario:</label>
          <input type="text" id="usuario" name="usuario" th:field="*{credencial.usuario}" required />
          
          <label for="password" >Password:</label>
          <input type="text" id="password" name="password" th:field="*{credencial.password}" required />

        <button type="submit" class="boton">Registrar Cliente</button>
      </form>
    </div>
  </body>
</html>
