<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./Estilos/estilosCreacionPlantas.css" />
    <title>Registrar Cliente</title>
  </head>
  <body>
    <header>
      <h1>Registro de Cliente</h1>
    </header>

    <div class="container">
      <form class="formulario">
        <label for="nombre">Nombre</label>
        <input type="text" id="" name="nombre" required />

        <label for="fechanac">Fecha de Nacimiento:</label>

        <input type="date" id="fechanac" name="fechanac" required />
        <label for="nif">NIF:</label>
        <input type="text" id="nif" name="nif" required />

        <label for="direccion">Direccion:</label>
        <input type="text" id="direccion" name="direccion" required />
        
        <label for="email">Email:</label>
        <input type="text" id="emaiñ" name="email" required />

        
        <label for="telefono">Email:</label>
        <input type="text" id="telefono" name="telefono" required />

        <button type="submit" class="boton">Registrar Cliente</button>
      </form>
    </div>
  </body>
</html>
